@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
}
  
body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    padding-top: 60px;
    overflow-x: hidden; 
}

nav {
    margin-top: 0;
    width: 100vw; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0a1526;
    opacity: 0.9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1;
    color: white;
}
#logo-title{
    color: #00d6f7;
    font-size: 29px;
    font-weight: lighter;
}
.nav-links {
    display: flex;
    width: 50vw;
    justify-content: end;
}

.nav-links li {
    list-style: none;

}

.nav-links li a {
    margin: 0 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.toggler {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
}

.toggler div {
    background-color: white;
    width: 30px;
    height: 4px;
    margin: 4px 0;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: #0a1526;
        width: 200px;
        border-radius: 8px;
        padding: 10px;
        z-index: 2;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .toggler {
        display: flex;
        margin-left: auto;
    }
}
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: end;
    align-items: center;
}
  
  .main-content {
    margin-right: 50px;
    width: 800px;
    height: 300px;
    text-align: center;
    color: #fff;
    padding: 20px;
    margin-top: -80px;
  }
  
  #background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 108%;
    object-fit: cover;
    z-index: -1;
  }

  .main h1 {

      font-size: 75px;
      margin-bottom: 20px;
      text-shadow: 10px 15px 10px black;
      font-family: 'BerkshireSwash-Regular';
  }
  
  .main p {
      font-size: 60px;
      text-shadow: 0 0 0 black;
      margin-bottom: 50px;
      color:white;
      position: relative;
      right: 111px;
  }
  
  .start-btn {
      background-color: #008fc2;
      color: #35e5f0;
      padding: 15px 20px;
      border-radius: 20px;
      text-decoration: none;
      font-size: 25px;
      transition: background-color 0.5s, color 0.5s;
      position: relative;
      right: 111px;
  }
  
  .start-btn:hover {
      background-color: black;
      color:white;
  }