@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
}
  
body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    padding-top: 60px;
    overflow-x: hidden; 
}

nav {
    margin-top: 0;
    width: 100vw; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0a1526;
    opacity: 0.9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1;
    color: white;
}
#logo-title{
    color: #00d6f7;
    font-size: 29px;
    font-weight: lighter;
}
.nav-links {
    display: flex;
    width: 50vw;
    justify-content: end;
}

.nav-links li {
    list-style: none;

}

.nav-links li a {
    margin: 0 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.toggler {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
}

.toggler div {
    background-color: white;
    width: 30px;
    height: 4px;
    margin: 4px 0;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: #0a1526;
        width: 200px;
        border-radius: 8px;
        padding: 10px;
        z-index: 2;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .toggler {
        display: flex;
        margin-left: auto;
    }
}
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: end;
    align-items: center;
}
  
  .main-content {
    margin-right: 50px;
    width: 800px;
    height: 300px;
    text-align: center;
    color: #fff;
    padding: 20px;
    margin-top: -80px;
  }
  
  #background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 108%;
    object-fit: cover;
    z-index: -1;
  }

  .main h1 {
    padding-bottom: 20px;
      font-size: 75px;
      margin-bottom: 20px;
      text-shadow: 10px 15px 10px black;
      font-family: 'BerkshireSwash-Regular';
  }

button {
    position: relative;
    width: 12em;
    height: 5em;
    outline: none;
    transition: 0.1s;
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: #ddebf0;
  }
  
  #clip {
    --color: #2761c3;
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 5px double var(--color);
    box-shadow: inset 0px 0px 15px #195480;
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  }
  
  .arrow {
    position: absolute;
    transition: 0.2s;
    background-color: #2761c3;
    top: 35%;
    width: 11%;
    height: 30%;
  }
  
  #leftArrow {
    left: -13.5%;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
  }
  
  #rightArrow {
    -webkit-clip-path: polygon(100% 49%, 0 0, 0 100%);
    left: 102%;
  }
  
  button:hover #rightArrow {
    background-color: #2761c3;
    left: -15%;
    animation: 0.6s ease-in-out both infinite alternate rightArrow8;
  }
  
  button:hover #leftArrow {
    background-color: #2761c3;
    left: 103%;
    animation: 0.6s ease-in-out both infinite alternate leftArrow8;
  }
  
  .corner {
    position: absolute;
    width: 4em;
    height: 4em;
    background-color: #2761c3;
    box-shadow: inset 1px 1px 8px #2781c3;
    transform: scale(1) rotate(45deg);
    transition: 0.2s;
  }
  
  #rightTop {
    top: -1.98em;
    left: 91%;
  }
  
  #leftTop {
    top: -1.96em;
    left: -3.0em;
  }
  
  #leftBottom {
    top: 2.10em;
    left: -2.15em;
  }
  
  #rightBottom {
    top: 45%;
    left: 88%;
  }
  
  button:hover #leftTop {
    animation: 0.1s ease-in-out 0.05s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  button:hover #rightTop {
    animation: 0.1s ease-in-out 0.15s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  button:hover #rightBottom {
    animation: 0.1s ease-in-out 0.25s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  button:hover #leftBottom {
    animation: 0.1s ease-in-out 0.35s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  button:hover .corner {
    transform: scale(1.25) rotate(45deg);
  }
  
  button:hover #clip {
    animation: 0.2s ease-in-out 0.55s both greenLight8;
    --color: #2761c3;
  }
  
  @keyframes changeColor8 {
    from {
      background-color: #2781c3;
    }
  
    to {
      background-color: #2761c3;
    }
  }
  
  @keyframes lightEffect8 {
    from {
      box-shadow: 1px 1px 5px #2761c3;
    }
  
    to {
      box-shadow: 0 0 2px #2761c3;
    }
  }
  
  @keyframes greenLight8 {
    from {
    }
  
    to {
      box-shadow: inset 0px 0px 32px #2761c3;
    }
  }
  
  @keyframes leftArrow8 {
    from {
      transform: translate(0px);
    }
  
    to {
      transform: translateX(10px);
    }
  }
  
  @keyframes rightArrow8 {
    from {
      transform: translate(0px);
    }
  
    to {
      transform: translateX(-10px);
    }
  }
  
  
  